<div class="card" *ngIf="pastrie">
    <img *ngIf="pastrie.url" class="card-img-top" src="{{pastrie.url}}" alt="Pastrie Category">
    <div class="card-body">
        <h5 class="card-title">{{ pastrie.ref }}</h5>
        <p class="card-text">Name: {{ pastrie.name }}</p>
    </div>
    <ul class="list-group" *ngIf="ingredients">
        <h2>Liste des ingrédients</h2>
        <li *ngFor="let ingredient of ingredients; let index = index" class="list-group-item">
            {{ingredient}}
            <button style="float: right;" class="btn btn-danger" (click)="deleteIng(index)">
                <img width="25" class="glyph-icon" src="./assets/svg/trashcan.svg" alt="disponibility" />
            </button>
        </li>
    </ul>
    <label for="label{{pastrie.id}}">Ajouter un ingrédient</label>
    <input #champ name="label{{pastrie.id}}" (keyup.enter)="addIng($event)"/>
</div>